# Dependencies Folder
node_modules/
# Production Environment Build Directory
dist/
# Environment Variable File
# .env.development
# .env.production
# Log File
*.log
# Editor Configuration File
.vscode/
.idea/
# System Temporary File
.DS_Store  # macOS
Thumbs.db  # Windows